@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to my Blazor Showcase!</h1>

<p>
    Here you can check out my mini projects I've challenged myself to do! <br><br>

    Like what you see, or want to give me a challenge: leave a comment on this Repository <br><br>

    Currently you may notice that my mini project styles look really ugly. My focus on looks is dead last in my 
    current priorities. Functionality is what I'm focusing on. <br><br>

    But don't worry, in future updates I will slowly make the viewing experience much more pleasurable. <br>

    This project uses Clean Architecture and will ? Utilize DDD (Domain-Driven Design)
</p>
